<div class="header">
  <h1 class="website-name">Dreamora</h1>
  <button class="info-button btn--primary" (click)="navigateToInfo()">Dreamopedia</button>
  <button class="logout-button" (click)="logout()">Logout</button>
</div>

<div class="content">

  <div class="three-column-layout">
    <div class="left-column">
      <button class="side-button btn--primary" (click)="navigateToJournal()">Journal</button>
      <button class="side-button btn--primary" (click)="navigateToStatistics()">Statistics</button>
    </div>

    <div class="middle-column">
      <!-- Dream title input -->
      <!-- toggle button -->
      <button class="title-toggle btn--outline" *ngIf="!showTitle && !interpretation" (click)="showTitle = true">
        + Add a title to your dream
      </button>

      <!-- title input, revealed only when toggled -->
      <input  class="title-input"
        *ngIf="showTitle && !interpretation"
        type="text"
        placeholder="Dream title"
        [(ngModel)]="dreamTitle" />


      <!-- Dream description -->
      <textarea
        class="text-box"
        placeholder="Type your dream here, user"
        [(ngModel)]="dreamText"
        *ngIf="!interpretation">
      </textarea>

      <!-- AI interpretation -->
      <div *ngIf="interpretation" class="interpretation">
        {{ interpretation }}
      </div>
    </div>

    <div class="right-column"></div>
  </div>

  <button class="analyze-button"
          (click)="interpretation ? clearText() : analyzeDream()">
    {{ interpretation ? 'Analyze Another Dream' : 'Analyze Your Dream' }}
  </button>
</div>
