<div class="header">
  <h1 class="website-name">Dreamora</h1>
</div>

<div class="content">
  <div class="dashboard-message">
    <h2>Welcome to your Dreamora Dashboard!</h2>
    <p>This is the logged-in view. You'll see your dream analyses here in the future!</p>
  </div>

  <div class="three-column-layout">
    <div class="left-column">
      <button 
        class="side-button"
        (click)="navigateToJournal()"
      >
        Journal
      </button>
      <button 
        class="side-button"
        (click)="navigateToStatistics()"
      >
        Statistics
      </button>
    </div>
    
    <div class="middle-column">
      <textarea class="text-box" placeholder="Type your dream here, user" [(ngModel)]="dreamText"></textarea>
    </div>
    
    <div class="right-column">
    </div>
  </div>

  <button class="analyze-button" (click)="clearText()">Analyze Your Dream</button>
</div>